# Build artifacts
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo
